<footer id="footer" class="section dark border-0 my-0 py-0 min-vh-100">

			<div class="video-wrap" style="z-index: 0;">
				<video poster="/assets/images/wintel/team_2.jpg" preload="auto" loop autoplay muted style="min-height: auto;">
					<source src='/assets/images/wintel/test.mp4' type='video/mp4' />
				</video>
				<div class="video-overlay" style="background: rgba(0,0,0,0.5)"></div>
			</div>

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row justify-content-center">
						<div class="col-12 mb-4">

							<div class="widget text-center">
								<h1 class="display-3 text-uppercase ls5 fw-bold mb-3"><p>WINTEL, l'opportunité chez vous.</h1>
								<a href="mailto:contact@wintel-senegal.com" class="py-2 btn"><i class="icon-line-mail me-2 position-relative" style="top: 2px"></i>contact@wintel-senegal.com</a>
								<a href="#" class="py-2 btn"><i class="icon-line-phone-call me-2 position-relative" style="top: 2px"></i>(221) 77 756 66 45</a>
							</div>

						</div>

						<div class="clear line"></div>

						<div class="row justify-content-between w-100 col-mb-50 mt-4">

							<div class="col-md-4">
								<img src="/assets/images/win2.png" alt="Image" class="footer-logo" style="margin-bottom: 15px;height: 60px;">
								<p class="text-white">Rejoignez nous sur les réseaux sociaux et restez informer sur toutes les activités de Wintel.</p>
								<div>
									<a href="#" class="social-icon si-facebook si-small border-light-lg">
										<i class="icon-facebook-f"></i>
										<i class="icon-facebook-f"></i>
									</a>

									<a href="#" class="social-icon si-twitter si-small border-light-lg">
										<i class="icon-twitter2"></i>
										<i class="icon-twitter2"></i>
									</a>

									<a href="#" class="social-icon si-instagram si-small border-light-lg">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>

									<a href="#" class="social-icon si-linkedin si-small border-light-lg">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>

							<div class="col-md-8">

								<div class="row gutter-50">
									<div class=" col-xs-12 col-md-6">

										<div class="widget">

											<h4 class="text-larger nott ls0">Liens Utiles</h4>

											<ul  class="list-unstyled">
												<li><a class="text-white" href="/about.html"><i class="me-2 icon-line-link-2"></i> A propos de nous</a></li>
												<li><a class="text-white" href="/faq.html"><i class="me-2 icon-line-link-2"></i> FAQ</a></li>
												<li><a class="text-white" href="/about.html"><i class="me-2 icon-line-link-2"></i> Investir</a></li>
												<li><a class="text-white" href="/about.html"><i class="me-2 icon-line-link-2"></i> Devenir partenaire</a></li>
												<li><a class="text-white" href="/contact.html"><i class="me-2 icon-line-link-2"></i> Contact</a></li>
											</ul>

										</div>

									</div>

									
									<div class="col-xs-12 col-md-6">

										<div class="widget">

											<h4 class="text-larger nott ls0">Besoin daide?</h4>

											<ul class="list-unstyled">
												<li class="mb-2"><a class="text-white" href="#"><i class="me-2 icon-line-headphones"></i>(221) 77 756 66 45</a></li>
												<li class="mb-2"><a class="text-white" href="#"><i class="me-2 icon-line-mail"></i>contact@wintel-senegal.com</a></li>
												<li class="mb-2"><i class="me-2 icon-line-clock"></i>Lun - Sam | 09:00 - 17:00</li>
												<li><i class="me-2 icon-line-calendar"></i>Fermé le dimanche</li>
											</ul>

										</div>

									</div>
								</div>

							</div>

						</div>


					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

		</footer><!-- #footer end -->
