<footer id="footer" class="dark">
      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

          <div class="row col-mb-50">
            <div class="col-lg-8">

              <div class="row col-mb-50">
                <div class="col-md-6">

                  <div class="widget clearfix">

                    <img src="/assets/images/omegapro/logo-purple-footer.png" alt="Image" class="footer-logo" style="margin-bottom: 10px;height: 50px;">

                    <p>Avec WINTEL, <strong>les</strong>, <strong>opportunités</strong> &amp; viennent vers vous.</p>

                    <div style="background: url('/assets/images/world-map.png') no-repeat center center; background-size: 100%;">
                      <address>
                        <strong>Headquarters:</strong><br>
                        1, Avenue Cheikh Anta Diop<br>
                        Dakar, Sénégal<br>
                      </address>
                      <abbr title="Phone Number"><strong>Tel:</strong></abbr> (221) 77 789 45 62<br>
                      <abbr title="Email Address"><strong>Email:</strong></abbr> info@wintel-africa.com
                    </div>

                  </div>

                </div>

                <div class="col-md-6">

                  <div class="widget widget_links clearfix">

                    <h4>Liens Utiles</h4>

                    <ul>
                      <li><a href="/about.html">A propos de nous</a></li>
                      <li><a href="/events.html">Evénement a venir</a></li>
                      <li><a href="/faq.html">FAQ</a></li>
                      <li><a href="/tutorials.html">Tutoriels</a></li>
                      <li><a href="/submit.html">Devenir partenaire</a></li>
                      <li><a href="/blog.html">Blog</a></li>
                      <li><a href="/contact.html">Nous contacter</a></li>
                    </ul>

                  </div>

                </div>
              </div>

            </div>

            <div class="col-lg-4">

              <div class="row col-mb-50">
                <div class="col-md-4 col-lg-12">
                  <div class="widget clearfix" style="margin-bottom: -20px;">

                    <div class="row">
                      <div class="col-lg-12 bottommargin-sm">
                        <div class="counter counter-small"><span data-from="50" data-to="121023" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                        <h5 class="mb-0">Membres</h5>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-md-5 col-lg-12">
                  <div class="widget subscribe-widget clearfix">
                    <h5><strong>Souscrivez</strong> a notre Newsletter; et soyez au courant de nos dernières actualités et offres</h5>
                    <div class="widget-subscribe-form-result"></div>
                    <form id="widget-subscribe-form" action="/assets/include/subscribe.php" method="post" class="mb-0">
                      <div class="input-group mx-auto">
                        <div class="input-group-text"><i class="icon-email2"></i></div>
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                        <button class="btn btn-success" type="submit">Souscrire</button>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="col-md-3 col-lg-12">
                  <div class="widget clearfix" style="margin-bottom: -20px;">

                    <div class="row">
                      <div class="col-6 col-md-12 col-lg-6 clearfix bottommargin-sm">
                        <a href="#" class="social-icon si-dark si-colored si-facebook mb-0" style="margin-right: 10px;">
                          <i class="icon-facebook"></i>
                          <i class="icon-facebook"></i>
                        </a>
                        <a href="#"><small style="display: block; margin-top: 3px;"><strong>Rejoignez-nous</strong><br>sur Facebook</small></a>
                      </div>
                      <div class="col-6 col-md-12 col-lg-6 clearfix">
                        <a href="#" class="social-icon si-dark si-colored si-rss mb-0" style="margin-right: 10px;">
                          <i class="icon-linkedin"></i>
                          <i class="icon-linkedin"></i>
                        </a>
                        <a href="#"><small style="display: block; margin-top: 3px;"><strong>Rejoignez-nous</strong><br>sur Linked-in</small></a>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>

        </div><!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">
        <div class="container">

          <div class="row col-mb-30">

            <div class="col-md-6 text-center text-md-start">
              Copyrights &copy; 2022 All Rights Reserved by WINTEL Inc.<br>
              <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
            </div>

            <div class="col-md-6 text-center text-md-end">
              <div class="d-flex justify-content-center justify-content-md-end">
                <a href="#" class="social-icon si-small si-borderless si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
                <a href="#" class="social-icon si-small si-borderless si-linkedin">
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>
              </div>

              <div class="clear"></div>

              <i class="icon-envelope2"></i> info@wintel-africa.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +221 77 895 44 66
            </div>

          </div>

        </div>
      </div><!-- #copyrights end -->
    </footer>