<section id="slider" class="slider-element dark swiper_wrapper min-vh-60 min-vh-md-100 include-header block-slider-3" data-autoplay="5000" data-speed="450">
			<div class="slider-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption" style="max-width: 800px">
									<div>
										<h2 class="text-transform-none" data-animate="fadeInUp">Bienvenue chez <br>Wintel</h2>
										<p class="d-none d-sm-block" style="font-size: 17px;" data-animate="fadeInUp" data-delay="200">Wintel vous offre les meilleures opportunités d’affaires du moment.</p>
										<a href="#" data-animate="fadeInUp" data-delay="400" class="btn btn-lg btn-light mt-4">En savoir plus</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg  " style="background-image: linear-gradient(rgba(0,.5,0,.5), rgba(0,0,0,.3)), url('/uploads/miss-sen-6.jpg'); background-position: center 30%;"></div>
							
						</div>
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption" style="max-width: 450px">
									<div>
										<h2 class="text-transform-none" data-animate="fadeInUp">L'opportunité <br>chez vous</h2>
										<p class="d-none d-sm-block" style="font-size: 17px;" data-animate="fadeInUp" data-delay="200">Investissez dès maintenant et prenez votre avenir en main.</p>
										<a href="#" data-animate="fadeInUp" data-delay="400" class="btn btn-lg btn-light mt-4">En savoir plus</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg  " style="background-image: linear-gradient(rgba(0,.5,0,.5), rgba(0,0,0,.3)), url('/uploads/Ibrahima1.jpg'); background-position: center 10%;"></div>
						</div>
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption" style="max-width: 750px">
									<div>
										<h2 class="text-transform-none" data-animate="fadeInUp">Faites le maximum<br> de profit!</h2>
										<p class="d-none d-sm-block" style="font-size: 17px;" data-animate="fadeInUp" data-delay="200">Grâce à notre système d'affiliation automatique, faites le maximum de profit tout en ameliorant votre pouvoir d'achat.</p>
										<a href="#" data-animate="fadeInUp" data-delay="400" class="btn btn-lg btn-light mt-4">En savoir plus</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg  " style="background-image: linear-gradient(rgba(0,.5,0,.5), rgba(0,0,0,.3)), url('/assets/images/wintel/miss_senegal_ordi_4.jpg'); background-position: center 30%;"></div>
						</div>
					</div>
					<div class="swiper-navs">
						<div class="slider-arrow-left"><i class="bi-arrow-left"></i></div>
						<div class="slider-arrow-right"><i class="bi-arrow-right"></i></div>
					</div>
					<div class="swiper-scrollbar">
						<div class="swiper-scrollbar-drag">
						<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div></div>
					</div>
				</div>

				<!-- Slider Bottom Content
				============================================= -->
				<div class="slider-product-desc ">
					<div class="row m-0 d-none d-md-flex">
						<div class="col-md-8 px-5 py-4 blurred-box">
							<div class="before-heading text-white fw-normal text-uppercase ls-1 fw-normal mb-3" style="font-style: normal; font-family: 'Poppins', sans-serif; font-size: 12px;">Wintel en video</div>
							<h3 class="mb-1 text-white" style="font-family: 'Poppins', sans-serif;">Regarder notre video de presentation</h3>
							<p class="mb-2 text-white">Pour mieux comprendre comment l'entreprise Wintel peut vous aider a changer votre vie</p>
						</div>

						<a href="https://www.youtube.com/watch?v=P3Huse9K6Xs"  data-lightbox="iframe" class="col-md-4 image_fade" style="background: url('assets/images/wintel/team_4.jpg') center center / cover">
							<i class="bi-play-fill"></i>
						</a>
					</div>
				</div>

			</div>
		</section>