---
layout: default
---

<!-- Header
============================================= -->
{%- include header.html -%}
<!-- Page Title
		============================================= -->
		

			<section id="page-title" class="page-title-parallax include-header " style=" padding: 120px 0; background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.1)), url('/uploads/miss-sen-1.jpg'); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;">

			<div class="container clearfix">
				<h1 class="text-white">{{ page.title }}</h1>
				<span class="text-white">{{ page.description }}</span>
				<ol class="breadcrumb text-white">
					<li class="breadcrumb-item text-white"><a href="/">Acceuil</a></li>
					<li class="breadcrumb-item text-white active" aria-current="page">{{ page.title }}</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap pb-0 mb-0">
				<div class="container clearfix">

					<div class="row col-mb-50 mb-0">

						<div class="col-lg-4">

							<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
								<h4>Pourquoi choisir <span>WINTEL</span>.</h4>
							</div>

							<p>Wintel vous propose un large choix d'opportunités d'affaires. Nous construisons votre propre réseau lorsque vous investissez chez un de nos partenaires MLM et nous vous garantissons un retour sur investissement. De même, Wintel offre aussi des financements de vos projets.</p>

						</div>

						<div class="col-lg-4">

							<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
								<h4>Notre <span>Mission</span>.</h4>
							</div>

							<p>Wintel souhaite sécuriser l'investissement de tout entrepreneur en donnant un accès ouvert à toute personne qui veut réussir dans ce secteur en Afrique. Nous voulons construire une nouvelle économie basée sur la production des richesses où tout un chacun aura une chance de réussite.</p>

						</div>

						<div class="col-lg-4">

							<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
								<h4>Wintel en <span>résumé</span>.</h4>
							</div>

							<p>La plateforme Wintel est disponible partout à travers le territoire national et dans différents pays Africains et Européens ce qui vous permet d' investir partout ou vous vous trouver sans avoir besoin de vous déplacer. D'ici 2023, Wintel devrait atteindre 10000 investissement par mois.</p>

						</div>

					</div>

				</div>

				<!-- Buy And Sell Section
				============================================= -->
				<div class="section  p-0 clearfix">
					<div class="row align-items-stretch clearfix">
						<!-- Half Section 1 -->
						<div class="col-lg-6 dark shadow-sm h-shadow shadow-ts" style="background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.1)), url('/uploads/miss-sen-1.jpg') center center no-repeat; background-size: cover;">
							<div class="col-padding clearfix">
								<i class="i-plain i-xlarge icon-money inline-block" style="margin-bottom: 20px;"></i>
								<div class="heading-block border-0" style="margin-bottom: 20px;">
									<h3>Investir pour le meilleur</h3>
								</div>
								<p>Faites des economies et gagnez des commissions sur chaque achat effectué directement, que ce soit dans notre écosystème ou chez nos partenaires. Vous recevrez ces commissions après chaque achat.</p>
								<a href="/partenaires/Tawfexx.html" class="button button-rounded button-white button-light m-0">En savoir plus</a>
							</div>
						</div>
						<!-- Half Section 2 -->
						<div class="col-lg-6 clearfix dark shadow-sm h-shadow shadow-ts" style="background: linear-gradient(rgba(101,58,134,1), rgba(101,58,134,.1)), url('/assets/images/wintel/team_7.jpg') center center no-repeat; background-size: cover;">
							<div class="col-padding clearfix">
								<i class="i-plain i-xlarge icon-line2-users inline-block" style="margin-bottom: 20px;"></i>
								<div class="heading-block border-0" style="margin-bottom: 20px;">
									<h3>Crowdfunding</h3>
								</div>
								<p>Nous proposons également un système de financement et d’accompagnement adapté et customisé pour tout type de projet.</p>
								<a href="/crowdfunding.html" class="button button-large button-dark button-black button-rounded m-0">En savoir plus</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="container clearfix">

					<div class="clear"></div>

					<div class="heading-block center">
						<h4>Notre equipe</h4>
					</div>

					<div class="row justify-content-center col-mb-50 mb-0">
						<div class="col-sm-6 col-lg-4">
							<div class="team">
								<div class="team-image">
									<img src="/uploads/ibra1.jpg" alt="Ibrahima Diakhaté">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Ibrahima Diakhaté</h4><span>Strategy & Management</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
									
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="team">
								<div class="team-image">
									<img src="/uploads/aziz1.jpg" alt="Abdoul Aziz Gning">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Abdoul Aziz Gning</h4><span>Finance & Investments</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
									
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="team">
								<div class="team-image">
									<img src="/uploads/gab1.jpg" alt="Gabriel Akaké">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Gabriel Akaké</h4><span>IT & Communication</span></div>
									<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section parallax dark mb-0" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.1)), url('/uploads/polygon.svg'); background-size: cover; padding: 100px 0;" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -300px;">

					<div class="container clearfix">

						<div class="row">
							<div class="col-lg-4 text-center" data-animate="bounceIn">
								<i class="i-plain i-large mx-auto mb-0 icon-handshake"></i>
								<div class="counter counter-lined"><span data-from="1" data-to="50" data-refresh-interval="2" data-speed="1000" data-comma="true"></span></div>
								<h5>Partenaires</h5>
							</div>

							<div class="col-lg-4 text-center" data-animate="bounceIn" data-delay="200">
								<i class="i-plain i-large mx-auto mb-0 icon-line2-users"></i>
								<div class="counter counter-lined"><span data-from="10" data-to="1500" data-refresh-interval="50" data-speed="2500" data-comma="true"></span></div>
								<h5>Investisseurs</h5>
							</div>

							<div class="col-lg-4 text-center" data-animate="bounceIn" data-delay="400">
								<i class="i-plain i-large mx-auto mb-0 icon-briefcase"></i>
								<div class="counter counter-lined"><span data-from="1" data-to="15" data-refresh-interval="1" data-speed="3500" data-comma="true"></span></div>
								<h5>Projets réalisés</h5>
							</div>
						</div>

					</div>

				</div>
				
				<!-- #content end 
				<div class="container clearfix">

					<div class="clear"></div>

					<div class="heading-block center">
						<h4>Our Clients</h4>
					</div>

					<ul class="clients-grid grid-2 grid-sm-3 grid-md-6 mb-0">
						<li class="grid-item"><a href="https://omegapro.world/fr/"><img src="/assets/images/wintel/omegapro.png" alt="Clients"></a></li>
						
					</ul>

				</div>-->
				<!--
				<div class="section footer-stick">

					<h4 class="text-uppercase center">What <span>Clients</span> Say?</h4>

					<div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
						<div class="flexslider">
							<div class="slider-wrap">
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="/assets/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
										<div class="testi-meta">
											Steve Jobs
											<span>Apple Inc.</span>
										</div>
									</div>
								</div>
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="/assets/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
										<div class="testi-meta">
											Collis Ta'eed
											<span>Envato Inc.</span>
										</div>
									</div>
								</div>
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="/assets/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
										<div class="testi-meta">
											John Doe
											<span>XYZ Inc.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>-->
			</div>
		</section><!-- #content end -->