<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{%- include head.html -%}
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		{%- include header.html -%}
		<!-- #header end -->

		{{ content }}
		

		<!-- Footer
		============================================= -->
		{%- include footer.html -%}
		<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/assets/js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script src="/assets/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="/assets/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="/assets/include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->

	<script>
		jQuery(window).on( 'pluginCarouselReady', function(){
			$('#oc-features').owlCarousel({
				items: 1,
				margin: 60,
			    nav: true,
			    navText: ['<i class="icon-line-arrow-left"></i>','<i class="icon-line-arrow-right"></i>'],
			    dots: false,
			    stagePadding: 30,
			    responsive:{
					768: { items: 2 },
					1200: { stagePadding: 200 }
				},
			});
		});
	</script>

	<script>
		var tpj=jQuery;
		var revapi17;
		var $ = jQuery.noConflict();
		
		tpj(document).ready(function() {
			if(tpj("#rev_slider_17_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_17_1");
			}else{
				revapi17 = tpj("#rev_slider_17_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"/assets/include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "vertical",
						mouseScrollNavigation:"off",
						 mouseScrollReverse:"default",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "horizontal",
							drag_block_vertical: false
						}
						,
						arrows: {
							style:"uranus",
							enable:true,
							hide_onmobile:false,
							hide_over:479,
							hide_onleave:false,
							tmp:'',
							left: {
								h_align:"left",
								v_align:"center",
								h_offset:0,
								v_offset:0
							},
							right: {
								h_align:"right",
								v_align:"center",
								h_offset:0,
								v_offset:0
							}
						}
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1240,1024,778,480],
					gridheight:[868,768,960,720],
					lazyType:"none",
					scrolleffect: {
						blur:"on",
						maxblur:"20",
						on_slidebg:"on",
						direction:"top",
						multiplicator:"2",
						multiplicator_layers:"2",
						tilt:"10",
						disable_on_mobile:"off",
					},
					parallax: {
						type:"scroll",
						origo:"slidercenter",
						speed:400,
						levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
					},
					shadow:0,
					spinner:"spinner3",
					stopLoop:"off",
					stopAfterLoops:-1,
					stopAtSlide:-1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAutoWidth:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "0",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>

</body>
</html>