---
layout: default
---

<!-- Header
============================================= -->
{%- include header.html -%}
<!-- Page Title
		============================================= -->
		

			<section id="page-title" class="page-title-parallax include-header " style=" padding: 120px 0; background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.1)), url('/uploads/miss-sen-1.jpg'); background-size: cover; background-position: center top;" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;">

			<div class="container clearfix">
				<h1 class="text-white">{{ page.title }}</h1>
				<span class="text-white">{{ page.description }}</span>
				<ol class="breadcrumb text-white">
					<li class="breadcrumb-item text-white"><a href="/">Acceuil</a></li>
					<li class="breadcrumb-item text-white active" aria-current="page">{{ page.title }}</li>
				</ol>
			</div>

		</section><!-- #page-title end -->
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row gutter-40 col-mb-80">
						<!-- Post Content
						============================================= -->
						<div class="postcontent col-lg-9">

							<div class="grid-filter-wrap">
								<ul class="grid-filter style-1 customjs">

									<li class="activeFilter"><a href="#" data-filter="all">All</a></li>
									<li><a href="#" data-filter=".faq-wintel">Wintel</a></li>
									<li><a href="#" data-filter=".faq-tawfeex">Tawfeex</a></li>
									<li><a href="#" data-filter=".faq-tawfeexplus">Tawfeex Plus</a></li>
									

								</ul>
							</div>

							<div class="clear"></div>

							<div id="faqs" class="faqs">

								<div class="toggle faq faq-wintel">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Qu'est-ce que Wintel ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Wintel est une entreprise d'investissement qui se spécialise dans la promotion d'entreprises à rentabilité certifiée, qu'elles soient des sociétés de marketing multi-niveaux (MLM), des start-ups ou des entreprises établies, auprès d'investisseurs potentiels.</a></div>
								</div>
								<div class="toggle faq faq-wintel">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Qui sont les fondateurs de Wintel?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Les fondateurs de Wintel sont Ibrahima Diakhate, PDG de la société Dioko Sénégal, Abdoul Aziz Gningue, PDG de LSI Holding Business, et Gabriel Akake, Ingénieur TIC.</a></div>
								</div>
								<div class="toggle faq faq-wintel">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Où se situe le siège de Wintel ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Le siège social de Wintel est situé à la Zone de Captage, au 51 Castors.</a></div>
								</div>
								<div class="toggle faq faq-wintel">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Quand a été fondée Wintel ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Wintel a été fondée le 5 juin 2022.</a></div>
								</div>
								<div class="toggle faq faq-wintel">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Dans quels pays Wintel est-il disponible ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Wintel est disponible à l'échelle mondiale, accessible dans tous les pays.</a></div>
								</div>
								<div class="toggle faq faq-tawfeex">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Qu'est-ce que Tawfeex ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Tawfeex est une carte qui vous permet d'améliorer votre pouvoir d'achat en effectuant des achats à moindre coût et en gagnant des commissions sur vos propres achats auprès de nos partenaires.</a></div>
								</div>
								<div class="toggle faq faq-tawfeex">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Qui est le fondateur de la carte Tawfeex ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">La carte Tawfeex a été fondée par Abdoul Aziz Gningue, PDG de LSI Holding Business.</a></div>
								</div>
								<div class="toggle faq faq-tawfeex">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Où est situé le siège de Tawfeex ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Le siège de Tawfeex se trouve dans la Zone de Captage, derrière l'immeuble EMG.</a></div>
								</div>
								<div class="toggle faq faq-tawfeex">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Combien de clients Tawfeex existe-t-il ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Tawfeex compte plus de 2000 clients au Sénégal, dans la sous-région et dans les pays d'outre-mer.</a></div>
								</div>
								<div class="toggle faq faq-tawfeex">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Dans quels pays Tawfeex est-il disponible ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Tawfeex est disponible au Sénégal, en Côte d'Ivoire, au Cameroun, au Bénin, aux États-Unis, en France, et partout où vous vous trouvez dans le monde, vous pouvez obtenir votre carte Tawfeex.</a></div>
								</div>
								<div class="toggle faq faq-tawfeexplus">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Qu'est-ce que Tawfeex Plus ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Les cartes Tawfeex Plus offrent des avantages aux clients Tawfeex en leur fournissant des affiliés et en augmentant leurs gains.</a></div>
								</div>
								<div class="toggle faq faq-tawfeexplus">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Quels sont les avantages d'avoir une carte Tawfeex Plus ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Les avantages d'une carte Tawfeex Plus incluent une validité illimitée, la possibilité de créer et de développer un réseau automatisé, la possibilité de gagner des commissions qui dépassent les 1000%, et l'accès automatique aux niveaux supérieurs.</a></div>
								</div>
								<div class="toggle faq faq-tawfeexplus">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Quels sont les packs Tawfeex Plus disponibles ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Les packs Tawfeex Plus sont les suivants :<br><br>
										Pack Débutant : 0F + valeur de la carte (50% de commissions à tous les niveaux).<br> 
										Pack Silver : 50 000F + valeur de la carte (60% de commissions jusqu'au niveau 3 et 50% au niveau 4).<br>
										Pack Gold : 100 000F + valeur de la carte (70% de commissions jusqu'au niveau 3 et 50% au niveau 4).<br>
										Platine : 150 000F + valeur de la carte (80% de commissions jusqu'au niveau 3 et 50% au niveau 4).<br>
										Diamond : 500 000F + valeur de la carte (60% de commissions à tous les niveaux).<br>
										Elite : 1 000 000F + valeur de la carte (70% de commissions à tous les niveaux).<br>
									Diamond : 2 500 000F + valeur de la carte (80% de commissions à tous les niveaux).</a></div>
								</div>
								<div class="toggle faq faq-tawfeexplus">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Comment acheter son pack Tawfeex Plus ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Vous pouvez trouver des instructions détaillées dans cette vidéo tutorielle.</a></div>
								</div>
								<div class="toggle faq faq-tawfeexplus">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-comments-alt"></i>
											<i class="toggle-open icon-comments-alt"></i>
										</div>
										<div class="toggle-title">
											Comment retirer ses gains Tawfeex Plus ?
										</div>
									</div>
									<div class="toggle-content"><a href="#" target="_blank">Vous pouvez trouver des instructions détaillées dans cette vidéo tutorielle.</a></div>
								</div>
								

								
							</div>


						</div><!-- .postcontent end -->
						<aside class="sidebar col-lg-3">
							<div class="sidebar-widgets-wrap">

								<div class="widget">

									<h4>Suivez nous sur les reseaux</h4>
									<div class="d-flex flex-wrap" style="--cnvs-socialicon-gap-y:5px;">
										<a href="#" class="social-icon si-small text-white bg-facebook" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook">
											<i class="fa-brands fa-facebook-f"></i>
											<i class="fa-brands fa-facebook-f"></i>
										</a>

										
										<a href="#" class="social-icon si-small text-white bg-linkedin" data-bs-toggle="tooltip" data-bs-placement="top" title="Linked In">
											<i class="fa-brands fa-linkedin"></i>
											<i class="fa-brands fa-linkedin"></i>
										</a>

										
										<a href="#" class="social-icon si-small text-white bg-twitter" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter">
											<i class="fa-brands fa-twitter"></i>
											<i class="fa-brands fa-twitter"></i>
										</a>

										<a href="#" class="social-icon si-small text-white bg-youtube" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube">
											<i class="fa-brands fa-youtube"></i>
											<i class="fa-brands fa-youtube"></i>
										</a>
									

										<a href="#" class="social-icon si-small text-white bg-instagram" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram">
											<i class="bi-instagram"></i>
											<i class="bi-instagram"></i>
										</a>

										
									</div>
								</div>

								<div class="widget">

									<h4>Presentation Wintel</h4>
									<iframe src="//player.vimeo.com/video/103927232" width="500" height="250" allow="autoplay; fullscreen" allowfullscreen></iframe>

								</div>

							</div>
						</aside><!-- .sidebar end -->

						
					</div>

				</div>
			</div>
		</section><!-- #content end -->