---
layout: default
---

<!-- Header
        ============================================= -->
        {%- include header.html -%}
        <!-- #header end -->
<!-- Slider
    ============================================= -->
        {%- include slider2.html -%}

    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap pb-0" style="z-index: 1;">

        <div class="section bg-transparent py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="display-4 fw-semibold ls--2">Le meilleur choix pour un investissement <span class="text-rotater" data-separator="|" data-rotate="fadeIn" data-speed="2000">
                            <span class="t-rotate">sécurisé|rentable|durable|fiable</span>
                        </span></h2>
                    </div>
                    <div class="col-md-5">
                        <p class="lead text-muted">
                            Pour la premiere fois en Afrique, grâce au système d'affiliation automatisé de Wintel, vous pouvez investir des maintenant et gagner des commissions allant jusqu'à 500% par semaine.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="overflow-hidden parallax d-flex align-items-center" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;" style="background-image: url('/assets/images/wintel/team_1.jpg'); background-size: cover; height: 600px; width: 100%;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="text-white">The Center is a network of 9 workspaces, from 200 to 3,700 sqft, Build and Designed to support Personal and Businesses in the Creative World.</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-theme-light">
            <div class="shadow-sm hero-features bg-color dark shadow">
                <div class="row">
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check"></i>
                            </div>
                            <div class="fbox-content">
                                <h3 class="text-white">Easily Manage Your Works</h3>
                                <p class="text-white mb-0">24x7 available, Anytime & anywhere, we're always available for You.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check"></i>
                            </div>
                            <div class="fbox-content">
                                <h3 class="text-white">24x7 Access.</h3>
                                <p class="text-white mb-0">Get Started with our Regular, Weekly, Monthly Plan.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check"></i>
                            </div>
                            <div class="fbox-content">
                                <h3 class="text-white">Secured &amp; Friendly.</h3>
                                <p class="text-white mb-0">Intrinsicly evisculate quality vectors befor high-impact schemas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- How We Work
        ============================================= -->
        <div class="section bg-transparent clearfix" style="padding-top: 0px;margin-top: 0px;">
          <div class="container clearfix">
            <div class="heading-block center border-0" data-heading="W">
              <h3 class="nott ls0">Nos partenaires</h3>
            </div>
          </div>

          <!-- How We Work - Carousel
          ============================================= -->
          <div id="oc-features" class="owl-carousel owl-carousel-full image-carousel carousel-widget customjs">
            <div class="oc-item">
              <div class="row cleafix">
                <div class="col-xl-8">
                  <img src="/assets/images/omegapro/5.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                  <h3>OmegaPro, une référence mondial.</h3>
                  <p>La plate-forme de marketing n ° 1 au monde pour naviguer sur les marchés financiers mondiaux et explorer un bouquet de services et de solutions conçus avec soin.
</p>
                  <a href="/partenaires/Omegapro.html" class="button-link">Rejoindre OmegaPro</a>
                </div>
              </div>
            </div>
            <div class="oc-item">
              <div class="row cleafix">
                <div class="col-xl-8">
                  <img src="/assets/images/omegapro/2.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                  <h3>OmegaPro, l'opportunité du siècle.</h3>
                  <p> La maison et la référence des nouvelles opportunités toujours à l'avant-garde et soutenue par une équipe élaborée dédiée à votre ambition et à votre succès.</p>
                  <a href="#" class="button-link">Rejoindre OmegaPro</a>
                </div>
              </div>
            </div>
            <div class="oc-item">
              <div class="row cleafix">
                <div class="col-xl-8">
                  <img src="/assets/images/omegapro/3.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                  <h3>OmegaPro, une communauté.</h3>
                  <p>Depuis 2019, OmegaPro est fière d'avoir une communauté massive de plus de 1 800 000 membres actifs à travers le monde.</p>
                  <a href="#" class="button-link">Rejoindre OmegaPro</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- About Us
        ============================================= -->
        <div class="section p-0 mt-0 bg-transparent clearfix" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
          <div class="row align-items-stretch clearfix">
            <div class="col-lg-6 center col-padding" style="background: url('/assets/images/wintel/fatlo1.png') center center no-repeat; background-size: cover;">
              <div>&nbsp;</div>
            </div>

            <!--<div class="col-lg-6 col-padding" style="background: url('assets/images/omegapro/1.png') no-repeat center center; background-size: cover;">-->
            <div class="col-lg-6 col-padding" style="background-color: rgba(0, 0, 0, 0.1);">
              <div>
                <div style="position: relative;">
                  <div class="heading-block border-0" data-heading="P">
                    <h3 class="nott ls0">Pourquoi choisir WINTEL</h3>
                  </div>
                </div>

                <!-- About Us Featured Boxes
                ============================================= -->
                <div class="row clearfix">
                  <div class="col-lg-10 col-md-8 bottommargin">
                    <div class="feature-box fbox-plain">
                      <div class="fbox-icon">
                        <a href="#"><i class="icon-et-globe"></i></a>
                      </div>
                      <div class="fbox-content">
                        <h3>Un investissement sécurisé</h3>
                        <p>Grâce à Wintel investissez en toute sécurité sur des opportunités fiables et rentables que vous soyez chez vous où à l'étranger.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-8 bottommargin">
                    <div class="feature-box fbox-plain">
                      <div class="fbox-icon">
                        <a href="#"><i class="icon-et-gears"></i></a>
                      </div>
                      <div class="fbox-content">
                        <h3>Des opportunités incroyables</h3>
                        <p>Wintel vous propose les meilleurs opportunités d'affaires en terme de fiabilité et de rentabilité aussi bien sur le long que sur le court terme.Gagnez un retour sur investissement de 300% avec notre partenaire Omegapro en 16 mois.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-8">
                    <div class="feature-box fbox-plain">
                      <div class="fbox-icon">
                        <a href="#"><i class="icon-et-document"></i></a>
                      </div>
                      <div class="fbox-content">
                        <h3>Des revenus hebdomadaires</h3>
                        <p>Grâce au système d'affiliation automatisé de Wintel et d'omegapro, gagnez des commissions allant jusqu'à 500% par semaine. </p>
                      </div>
                    </div>
                  </div>
                 <!-- <div class="col-lg-10 col-md-8">
                    <div class="feature-box fbox-plain">
                      <div class="fbox-icon">
                        <a href="#"><i class="icon-et-document"></i></a>
                      </div>
                      <div class="fbox-content">
                        <h3>Le financement de vos projets</h3>
                        <p>Grâce à notre système de crowdfunding, Wintel vous permet de réaliser vos projets en vous procurant les financements et l'encadrement dont vous aurez besoin.
                        </p>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- Video Sections
        ============================================= -->
        <div class="section bg-transparent mt-0 clearfix">
          <div class="container clearfix">

            <div class="row  clearfix">
              <!-- Video Texts
              ============================================= -->
              <div class="col-lg-6" style="padding-right: 60px;">
                <div class="heading-block topmargin-sm bottommargin-sm border-0">
                  <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">Êtes vous prêt pour le changement ?
</h3>
                </div>
                <p class="fw-normal">Un investissement fiable.<br>Notre équipe jeune et dynamique est à votre service 24h/24 7j/7 afin de vous fournir les meilleurs informations pour vous éclairer et vous guider dans vos choix d'investissement.<br>Wintel, c'est l'opportunité chez vous !</p>
                <h5 class="mb-0 fw-semibold">&middot; Abdoul Aziz Gning - Représentant OmegaPro Sénégal.</h5>
                
              </div>
              <div class="col-lg-6 p-0">
                <!-- Youtube Video Link
                ============================================= -->
                <a href="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2F107660751546259%2Fvideos%2F328427485925268%2F&show_text=false&width=560&t=0" data-lightbox="iframe">
                  <img src="/assets/images/omegapro/2.png" alt="Youtube Video"  style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
                  <i class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #FFF; margin-top: -45px; margin-left: -23px"></i>
                </a>
              </div>
              
            </div>
          </div>
        </div>

        <!-- Parallax Area
        ============================================= -->
        <div class="section parallax topmargin-lg mb-0 border-top-0 clearfix" style="background-image: url('/assets/images/wintel/miss_senegal_ordi_4.jpg'); background-size: cover;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
          <div class="container clearfix">

            <div class="row col-mb-50 cleafix">
              <div class="col-md-6 dark" style="padding-left: 60px;">
                <div class="heading-block bottommargin-sm border-0">
                  <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">La marque de l'assurance.</h3>
                </div>
                <p>L'objectif de Wintel est de créer le maximum de millionnaire chaque année. Grâce à notre vision vous pouvez en faire partie. Oui c'est possible l'avenir fait place à ceux qui prennent les bonnes décisions. Wintel aujourd'hui est le meilleur choix en termes de collaboration et d'investissement.
.</p>
                <a href="#" class="button-link ms-0">En savoir plus</a>
              </div>

              <!-- Testimonials slider
              ============================================= -->
              <div class="col-md-5 offset-md-1">
                <h4 class="dark">Témoignages</h4>
                <div class="fslider testimonial" data-animation="slide" data-arrows="false">
                  <div class="flexslider">
                    <div class="slider-wrap">
                      <div class="slide">
                        <div class="testimonial border-0 shadow-none">
                          <div class="testi-content">
                            <p class="bottommargin-sm font-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt risus arcu, at mollis ipsum ullamcorper vitae.</p>
                            <div class="testi-meta">
                              John Doe
                              <span>Investisseur OmegaPro</span>
                              <div class="testimonials-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="testimonial border-0 shadow-none">
                          <div class="testi-content">
                            <p class="bottommargin-sm font-primary">Mauris a nulla luctus, pretium tellus non, viverra nisi. Nam libero dolor, consectetur in finibus ac, elementum ut dolor.</p>
                            <div class="testi-meta">
                              Georges Doe
                              <span>Investisseur OmegaPro</span>
                              <div class="testimonials-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="testimonial border-0 shadow-none">
                          <div class="testi-content">
                            <p class="bottommargin-sm font-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt risus arcu, at mollis ipsum ullamcorper vitae.</p>
                            <div class="testi-meta">
                              John Doe
                              <span>Investisseur OmegaPro</span>
                              <div class="testimonials-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="testimonial border-0 shadow-none">
                          <div class="testi-content">
                            <p class="bottommargin-sm font-primary">Mauris a nulla luctus, pretium tellus non, viverra nisi. Nam libero dolor, consectetur in finibus ac, elementum ut dolor.</p>
                            <div class="testi-meta">
                              Georges Doe
                              <span>Investisseur OmegaPro</span>
                              <div class="testimonials-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section><!-- #content end -->

    <!-- Promo join 
    ============================================= -->
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">

          <div class="row g-0">
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/1.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/2.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/3.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/4.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/5.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/6.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/7.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/8.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/9.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/10.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/11.jpg" alt="Investor Image"></a></div>
          </div>
          <div class="row g-0">
            <div class="col d-none d-md-flex"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/23.jpg" alt="Investor Image"></a></div>
            <div class="col-lg-10 d-lg-flex justify-content-between align-items-center px-5 py-4 py-lg-0">
              <div class="mb-2 mb-lg-0">
                <h3 class="mb-0 color">Rejoignez notre grande famille d'investisseurs</h3>
                <p class="mb-0 text-muted fw-normal">Avec WINTEL, les opportunités s'offrent à vous.</p>
              </div>
              <a href="#" class="button button-large fw-semibold button-rounded ls0 nott m-0">Rejoindre Wintel</a>
            </div>
            <div class="col d-none d-lg-flex"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/24.jpg" alt="Investor Image"></a></div>
          </div>
          <div class="row g-0">
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/12.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/13.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/14.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/15.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/16.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/17.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/18.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/19.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/20.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/21.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/22.jpg" alt="Investor Image"></a></div>
          </div>

        </div>
      </div>
    </section><!-- #promo join -->
