---
layout: default
---

<!-- Header
        ============================================= -->
        {%- include header.html -%}
        <!-- #header end -->
<!-- Slider
    ============================================= -->
        {%- include slider3.html -%}

    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap pb-0" style="z-index: 1;">

        <div class=" bg-transparent py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="display-4 fw-semibold ls--2">Le meilleur choix pour un investissement <span class="text-rotater" data-separator="|" data-rotate="fadeIn" data-speed="2000">
                            <h2 class="t-rotate display-4 fw-semibold ls--2">sécurisé|rentable|durable|fiable</h2>
                        </span></h2>
                    </div>
                    <div class="col-md-5">
                        <p class="lead">
                            Pour la premiere fois en Afrique, une entreprise d'investissement et de crowdfunding sur et fiable en Afrique de l'Ouest.
                        </p>
                    </div>
                </div>
                <div class="divider divider-center dark"></div>
            </div>
        </div>

        <div class="content-wrap">
          <div class="container">
            <div class="row col-mb-50 mb-0 gx-5">
              <div class="col-sm-6 col-lg-4">
                <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                  <div class="fbox-icon">
                    <a href="#"><i class="bi-currency-dollar i-currency-dollar"></i></a>
                  </div>
                  <div class="fbox-content">
                    <h3>Investissement</h3>
                    <p>Transformez vos ambitions financières en réalité avec notre expertise en investissement.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4">
                <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                  <div class="fbox-icon">
                    <a href="#"><i class="bi-piggy-bank i-alt"></i></a>
                  </div>
                  <div class="fbox-content">
                    <h3>Crowdfunding</h3>
                    <p>Réalisons ensemble des projets extraordinaires grâce au crowdfunding.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                  <div class="fbox-icon">
                    <a href="#"><i class="bi-rulers i-alt"></i></a>
                  </div>
                  <div class="fbox-content">
                    <h3>Creation graphique</h3>
                    <p>Donnez vie à votre vision avec notre créativité graphique exceptionnelle.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                  <div class="fbox-icon">
                    <a href="#"><i class="bi-laptop i-alt"></i></a>
                  </div>
                  <div class="fbox-content">
                    <h3>Application Web & Mobile</h3>
                    <p>Transformez votre concept en une application web et mobile de premier plan.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4">
                <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                  <div class="fbox-icon">
                    <a href="#"><i class="bi-megaphone i-alt"></i></a>
                  </div>
                  <div class="fbox-content">
                    <h3>Marketing & Communication</h3>
                    <p>Élevez votre marque au sommet avec notre expertise en marketing et communication.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
                  <div class="fbox-icon">
                    <a href="#"><i class="bi-graph-up-arrow i-alt"></i></a>
                  </div>
                  <div class="fbox-content">
                    <h3>Sponsoring</h3>
                    <p>Ouvrez la voie au succès grâce à notre stratégie de sponsoring inégalée.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-hidden parallax d-flex align-items-center" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.1)), url('/assets/images/wintel/team_1.jpg'); background-size: cover; height: 600px; width: 100%;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white text-center" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">Grâce à Wintel investissez en toute sécurité sur des opportunités fiables et rentables tel que TAWFEEX PLUS que vous soyez chez vous où à l'étranger.</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none d-lg-block">
            <div class="shadow-sm hero-features bg-color dark shadow">
                <div class="row">
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check"></i>
                            </div>
                            <div class="fbox-content">
                            <h3 class="text-white">Sure &amp; Fiable</h3>
                                <p class="text-white mb-0">Les meilleures opportunités d’investissement pour un maximum de profit</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check"></i>
                            </div>
                            <div class="fbox-content">
                                <h3 class="text-white">Professionnalisme</h3>
                                <p class="text-white mb-0">Une équipe composée de spécialistes</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check"></i>
                            </div>
                            <div class="fbox-content">
                                
                                <div class="fbox-content">
                                <h3 class="text-white">Disponibilité 24/7</h3>
                                <p class="text-white mb-0">Nous sommes une entreprise de confiance avec un service excellent et rapide</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        ,<!-- Video Sections
        ============================================= -->
        <div class=" bg-transparent mt-0 clearfix">
          <div class="container clearfix">

            <div class="row  clearfix">
              <!-- Video Texts
              ============================================= -->
              <div class="col-lg-6" style="padding-right: 60px;">
                <div class="heading-block topmargin-sm bottommargin-sm border-0">
                  <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">Êtes vous prêt pour le changement, decouvrez Tawfeex PLUS </h3>
                </div>
                <p class="fw-normal">Grace a votre nouvelle carte Tawfexx PLUS, vous pouvez profiter d'une multitude de services et de produits qui répondent à vos besoins personnels, tout en ayant la possibilité de générer des commissions en retour. Elle représente une opportunité exceptionnelle de tirer le meilleur parti de vos dépenses tout en augmentant vos revenus.</p>
                <h5 class=" fw-semibold">&middot; Abdoul Aziz Gning - Représentant TAWFEXX Sénégal.</h5>
                
              </div>
              <div class="col-lg-6">
                <!-- Youtube Video Link
                ============================================= -->
                <a href="/uploads/tawfexx.mp4" data-lightbox="iframe">
                  <img src="/uploads/taw1.jpg" alt="Youtube Video"  style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
                  <i class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #673b87; margin-top: -45px; margin-left: -23px"></i>
                </a>
              </div>
              
            </div>
          </div>
        </div>
        <!-- How We Work
        =============================================
        <div class=" bg-transparent clearfix mb-6" >
          <div class="container clearfix">
            <div class="heading-block center border-0" data-heading="W">
              <h3 class="">Nos partenaires</h3>
            </div>
          </div> 

   
          <div id="oc-features" class="owl-carousel owl-carousel-full image-carousel carousel-widget customjs  ">
            <div class="oc-item">
              <div class="row cleafix">
                <div class="col-xl-8">
                  <img src="/assets/images/omegapro/5.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                  <h3>OmegaPro, une référence mondial.</h3>
                  <p>La plate-forme de marketing n ° 1 au monde pour naviguer sur les marchés financiers mondiaux et explorer un bouquet de services et de solutions conçus avec soin.</p>
                  <a href="/partenaires/Omegapro.html" class="button-link">Rejoindre OmegaPro</a>
                </div>
              </div>
            </div>
            <div class="oc-item">
              <div class="row cleafix">
                <div class="col-xl-8">
                  <img src="/assets/images/omegapro/2.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                  <h3>OmegaPro, l'opportunité du siècle.</h3>
                  <p> La maison et la référence des nouvelles opportunités toujours à l'avant-garde et soutenue par une équipe élaborée dédiée à votre ambition et à votre succès.</p>
                  <a href="/partenaires/Omegapro.html" class="button-link">Rejoindre OmegaPro</a>
                </div>
              </div>
            </div>
            <div class="oc-item">
              <div class="row cleafix">
                <div class="col-xl-8">
                  <img src="/assets/images/omegapro/3.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                  <h3>OmegaPro, une communauté.</h3>
                  <p>Depuis 2019, OmegaPro est fière d'avoir une communauté massive de plus de 1 800 000 membres actifs à travers le monde.</p>
                  <a href="/partenaires/Omegapro.html" class="button-link">Rejoindre OmegaPro</a>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <!-- About Us
        ============================================= 
        <div class="section p-0 mt-0 bg-transparent clearfix" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
          <div class="row align-items-stretch clearfix">
            <div class="col-lg-6 center col-padding" style="background: url('/assets/images/wintel/fatlo1.png') center center no-repeat; background-size: cover;">
              <div>&nbsp;</div>
            </div>

            <div class="col-lg-6 col-padding" style="background-color: rgba(0, 0, 0, 0.1);">
              <div>
                <div style="position: relative;">
                  <div class="heading-block border-0" data-heading="P">
                    <h3 class="nott ls0">Pourquoi choisir WINTEL</h3>
                  </div>
                </div>

                
                <div class="row clearfix">
                  <div class="col-lg-10 col-md-8 bottommargin">
                    <div class="feature-box fbox-plain">
                      
                      <div class="fbox-content">
                        <h3>Un investissement sécurisé</h3>
                        <p>Grâce à Wintel investissez en toute sécurité sur des opportunités fiables et rentables que vous soyez chez vous où à l'étranger.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-8 bottommargin">
                    <div class="feature-box fbox-plain">
                      
                      <div class="fbox-content">
                        <h3>Des opportunités incroyables</h3>
                        <p>Wintel vous propose les meilleurs opportunités d'affaires en terme de fiabilité et de rentabilité aussi bien sur le long que sur le court terme.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-8">
                    <div class="feature-box fbox-plain">
                      
                      <div class="fbox-content">
                        <h3>Des revenus hebdomadaires</h3>
                        <p>Grâce au système d'affiliation automatisé de Wintel, gagnez des commissions et fructifier vos revenus. </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-8">
                    <div class="feature-box fbox-plain">
                      <div class="fbox-icon">
                        <a href="#"><i class="icon-et-document"></i></a>
                      </div>
                      <div class="fbox-content">
                        <h3>Le financement de vos projets</h3>
                        <p>Grâce à notre système de crowdfunding, Wintel vous permet de réaliser vos projets en vous procurant les financements et l'encadrement dont vous aurez besoin.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>-->
        

        <!-- Parallax Area
        =============================================-->
        <div class="section parallax topmargin-lg mb-0 border-top-0 clearfix" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.3)), url('/assets/images/wintel/miss_senegal_ordi_4.jpg'); background-size: cover;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
          <div class="container clearfix">


            <div class="row col-mb-50 clearfix">
              <div class="col-md-6 dark" style="padding-left: 60px;">
                <div class="heading-block bottommargin-sm border-0">
                  <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">La marque de l'assurance.</h3>
                </div>
                <p>L'objectif premier de Wintel est d'améliorer votre qualité de vie tout en vous offrant l'opportunité de maximiser vos profits. Notre vision vous invite à vous associer à cette démarche. En effet, il est possible de saisir les opportunités offertes par l'avenir en prenant des décisions judicieuses, et Wintel se positionne aujourd'hui comme le choix optimal en matière de collaboration et d'investissement.</p>
                <a href="/about.html" class="button-link ms-0">En savoir plus</a>
              </div>

              <!-- Testimonials slider
              ============================================= -->
              <div class="col-md-5 offset-md-1">
                <h4 class="dark">Témoignages</h4>
                <div class="fslider testimonial" data-animation="slide" data-arrows="false">
                  <div class="flexslider">
                    <div class="slider-wrap">
                      <div class="slide">
                        <div class="testimonial border-0 shadow-none">
                          <div class="testi-content">
                            <p class="bottommargin-sm font-primary">Wintel a augmenté mes revenus quotidiens en me présentant des opportunités d'investissement fiables, sécurisées et profitables.</p>
                            <div class="testi-meta">
                              Aicha TRAORE
                              <span>Partenaire Wintel</span>
                              <div class="testimonials-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="testimonial border-0 shadow-none">
                          <div class="testi-content">
                            <p class="bottommargin-sm font-primary">Grâce à Wintel, je ne suis plus victime d'arnaques dans mes investissements. Je bénéficie d'une orientation et de conseils fiables.</p>
                            <div class="testi-meta">
                              Fatou Ndiaye
                              <span>Partenaire Wintel</span>
                              <div class="testimonials-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="testimonial border-0 shadow-none">
                          <div class="testi-content">
                            <p class="bottommargin-sm font-primary">Les meilleurs s'unissent aux meilleurs. C'est merveilleux de voir le travail accompli par Wintel. Les gars, c'est l'endroit où vos rêves deviennent réalité !</p>
                            <div class="testi-meta">
                              Babacar Toure
                              <span>Partenaire Wintel</span>
                              <div class="testimonials-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="testimonial border-0 shadow-none">
                          <div class="testi-content">
                            <p class="bottommargin-sm font-primary">Malgré ma résidence à l'étranger, je peux investir en toute sécurité dans mon pays d'origine grâce à Wintel, qui me fournit les garanties et les moyens nécessaires pour m'assurer que mes investissements sont protégés et bien gérés.</p>
                            <div class="testi-meta">
                              Mimi Traore
                              <span>Partenaire Wintel</span>
                              <div class="testimonials-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div> 
        </div> 
      </div>
    </section><!-- #content end -->

    <!-- Promo join 
    ============================================= -->
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">

          <div class="row g-0">
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/1.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/2.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/3.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/4.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/5.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/6.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/7.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/8.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/9.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/10.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/11.jpg" alt="Investor Image"></a></div>
          </div>
          <div class="row g-0">
            <div class="col d-none d-md-flex"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/23.jpg" alt="Investor Image"></a></div>
            <div class="col-lg-10 d-lg-flex justify-content-between align-items-center px-5 py-4 py-lg-0">
              <div class="mb-2 mb-lg-0">
                <h3 class="mb-0 color">Rejoignez notre grande famille d'investisseurs</h3>
                <p class="mb-0 text-muted fw-normal">Avec WINTEL, les opportunités s'offrent à vous.</p>
              </div>
              <a href="/about.html" class="button button-large fw-semibold button-rounded ls0 nott m-0">Rejoindre Wintel</a>
            </div>
            <div class="col d-none d-lg-flex"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/24.jpg" alt="Investor Image"></a></div>
          </div>
          <div class="row g-0">
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/12.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/13.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/14.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/15.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/16.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/17.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/18.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/19.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/20.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/21.jpg" alt="Investor Image"></a></div>
            <div class="col"><a href="#"><img class="op-ts op-1 h-op-08" src="/assets/demos/crowdfunding/images/investors/22.jpg" alt="Investor Image"></a></div>
          </div>

        </div>
      </div>
    </section><!-- #promo join -->
