---
layout: default
---

<!-- Header
============================================= -->
{%- include header.html -%}
<!-- #header end -->
<!-- Page Title ============================================= -->
<section id="page-title" class="page-title-parallax include-header " style=" padding: 120px 0; background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.1)), url('/uploads/polygon.svg'); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;">

<div class="container clearfix">
	<h1 class="text-white">PACKAGE {{ page.title }}</h1>
	<span class="text-white">Achat du package {{ page.type }} PLUS {{ page.title }} de {{ page.prix }} CFA</span>
	<ol class="breadcrumb text-white">
		<li class="breadcrumb-item text-white"><a href="/">Acceuil</a></li>
		<li class="breadcrumb-item text-white active" aria-current="page">{{ page.title }}</li>
	</ol>
</div>

</section><!-- #page-title end -->

<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap" style="overflow: visible;">
				<div class="container clearfix">

					<div class="single-product">
						<div class="product">
							<div class="row gutter-40">

								<div class="col-md-6">

									<!-- Product Single - Gallery
									============================================= -->
									<div class="position-relative" data-lightbox="gallery">
										<div class="sale-flash badge bg-danger p-2">20% Promo</div>
										<a class="mb-3 d-block" href="{{ page.image }}" title="Pink Printed Dress - Front View" data-lightbox="gallery-item"><img src="{{ page.image }}" alt="Pink Printed Dress"></a>
										
									</div><!-- Product Single - Gallery End -->

								</div>

								<div class="col-md-6 product-desc position-lg-sticky h-100">

									<div class="d-flex align-items-center justify-content-between">

										<!-- Product Single - Price
										============================================= -->
										<div class="product-price "><ins ><span style="color:#000;">Prix: {{ page.prix }} FCFA</span></ins></div><!-- Product Single - Price End -->

										<!-- Product Single - Rating
										============================================= 
										<a href="{{ page.url }}" class="button button-large button-{{ page.color }}" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-check"></i>J'ACHETE MAINTENANT</a>-->
										<a href="{{ page.url }}" class="button button-rounded gradient-ocean button-reveal button-large  text-end" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-cart-shopping"></i><span>J'ACHETE MAINTENANT</span></a>
										

									</div>

									<div class="line"></div>

									
									<!-- Product Single - Short Description
									============================================= -->
									<p>{{ page.description }}</p>
									<ul class="iconlist">
										{% assign gain = page.prix | times: 3 %}
										<li><i class="icon-caret-right"></i> Durée de {{ page.validite }} : Une durée de validité qui ne se limite pas dans le temps. </li>
										<li><i class="icon-caret-right"></i> Établissement et expansion automatisés du réseau : La mise en place et la croissance d'un réseau qui se réalisent de manière automatisée.</li>
										<li><i class="icon-caret-right"></i> Accès {{ page.validite }} automatique : L'accès aux niveaux hiérarchiques supérieurs qui est obtenu de manière automatique, sans intervention manuelle.</li>
									</ul><!-- Product Single - Short Description End -->

									<!-- Product Single - Meta
									============================================= -->
									<div class="card product-meta">
										<div class="card-body">
											<span class="posted_in">Categorie: <a href="#" rel="tag">{{ page.type }}</a>.</span>
										</div>
									</div><!-- Product Single - Meta End -->

								</div>

								

							</div>
						</div>
					</div>
					<!-- Modal -->
					
					<div class="modal subscribe-widget fade text-start bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog  modal-lg">
							<div class="modal-content">
						
								<div class="modal-body block dark mx-auto" style="background: url('/assets/images/wintel/team_1.jpg') no-repeat; background-size: cover;" >
									
									
									<div style="padding: 50px;">
										<div class="heading-block border-bottom-0 mb-4" style="max-width:700px;">
											<h3>ETAPE 1: Achat du pack {{ page.title }}</h3>
											<span>Une fois les informations renseignees, vous serez rediriger vers notre interface de paiement</span>
										</div>
										<div class="widget-subscribe-form-result"></div>
										<form class="widget-subscribe-form2" action="include/subscribe.php" method="post" style="max-width: 350px;">
											
											<div class="row">
												<div class="col-md-6 ">
													<input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Prenom">
												</div>
												<div class="col-md-6 ">
													<input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Nom">
												</div>
												<div class="col-md-12 mt-3">
													<input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Telephone">
												</div>
												<div class="col-md-12 mt-3">
													<input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Email">
												</div>
											</div>
											
											<button class="button button-rounded  ms-0" type="submit" style="margin-top:15px;">Proceder au paiement</button>
										</form>
										<p class="mb-0"><small><em>*We hate Spam &amp; Junk Emails.</em></small></p>
									</div>
									
								</div>
								
							</div>
						</div>
					</div>

					
					<div class="w-100"></div>

					<div class="col-12 mt-5">

						<div class="mb-0">

							<ul class="nav canvas-tabs tabs nav-tabs mb-3" id="tab-1" role="tablist" style="--bs-nav-link-font-weight: 500;">
								
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="canvas-tabs-1-tab" data-bs-toggle="pill" data-bs-target="#tabs-1"
										type="button" role="tab" aria-controls="canvas-tabs-1" aria-selected="true"><i class="me-1 bi-info-circle-fill"></i><span
											class="d-none d-md-inline-block"> Details</span></a></button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="canvas-tabs-2-tab" data-bs-toggle="pill" data-bs-target="#tabs-2" type="button"
										role="tab" aria-controls="canvas-tabs-2" aria-selected="false"><i
											class="me-1 bi-justify"></i><span class="d-none d-md-inline-block">
											Description</span></a></button>
								</li>
							</ul>

							<div id="canvas-tab-alt-content" class="tab-content">
								
								
								<div class="tab-pane fade show active" id="tabs-1" role="tabpanel" aria-labelledby="canvas-tabs-1-tab"
									tabindex="0">
									<table class="table table-striped table-bordered">
										<tbody>
											<tr>
												<td>Rentabilite</td>
												<td>{{ page.rentabilite }}</td>
											</tr>
											<tr>
												<td>Affiliation</td>
												<td>{{ page.Affiliation }}</td>
											</tr>
											<tr>
												<td>Commissions de Bienvenue</td>
												<td>{{ page.commissions_bienvenue }}</td>
											</tr>
											<tr>
												<td>Commissions directes</td>
												<td>{{ page.commissions_directes }}</td>
											</tr>
											<tr>
												<td>Niveaux</td>
												<td>{{ page.niveaux }}</td>
											</tr>
											<tr>
												<td>Validite</td>
												<td>{{ page.validite }}</td>
											</tr>
											<tr>
												<td>Reseau</td>
												<td>{{ page.reseau }}</td>
											</tr>
										</tbody>
									</table>

								</div>
								<div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="canvas-tabs-2-tab" tabindex="0">
									{{ page.content }}
								</div>
							</div>

						</div>

					</div>
					
					<!--<div class="row feature-box-border-horizontal col-mb-50">
						<div class="col-lg-3 col-md-4">
							<div class="feature-box">
								<div class="fbox-content">
									<h2 class="display-2 fw-bolder mb-3 card-{{ page.color }}">1</h2>
									<h3 class="text-transform-none text-larger mb-4">Choose your Plan</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, quae rerum dolores aperiam amet enim consequuntur maiores totam odit molestiae vel ut earum deleniti.</p>
								</div>
							</div>
						</div>

						<div class="col d-none d-lg-flex text-center align-self-center flex-column">
							<a href="#" class="d-block h-translate-x-n all-ts"><i class="fa-solid fa-angles-right icon-stacked rounded-pill card-{{ page.color }} ps-1 h5 border border-default icon-2x"></i></a>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="feature-box flex-column">
								<div class="fbox-content">
									<h2 class="display-2 fw-bolder mb-3 card-{{ page.color }} op-06">2</h2>
									<h3 class="text-transform-none text-larger mb-4">Select your Demo</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, quae rerum dolores aperiam amet enim consequuntur maiores totam odit molestiae vel ut earum deleniti.</p>
								</div>
							</div>
						</div>

						<div class="col d-none d-lg-flex text-center align-self-center flex-column">
							<a href="#" class="d-block h-translate-x-n all-ts"><i class="fa-solid fa-angles-right icon-stacked rounded-pill card-{{ page.color }} ps-1 h5 border border-default icon-2x"></i></a>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="feature-box flex-column noborder">
								<div class="fbox-content">
									<h2 class="display-2 fw-bolder mb-3 card-{{ page.color }} op-03">3</h2>
									<h3 class="text-transform-none text-larger mb-4">Finish your Project</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, quae rerum dolores aperiam amet enim consequuntur maiores totam odit molestiae vel ut earum deleniti.</p>
								</div>
							</div>
						</div>

					</div>-->
							

					<div class="line"></div>

					<div class="w-100">

						<div class="heading-block center">
							<h2>Autres Packages {{ page.type }} PLUS</h2>
							<span>Choisissez une autre package TAWFEEX PLUS si vous le souhaitez</span>
						</div>

						<div class="owl-carousel product-carousel carousel-widget" data-margin="30" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-md="2" data-items-lg="3" data-items-xl="4">
						{% assign licenses_by_price = site.licenses | sort: "prix" %}
						{% for license in licenses_by_price %}
							<div class="oc-item">
								<div class="product">
									<div class="product-image">
										<a href="#"><img src="{{ license.image }}" alt="{{ license.title }}"></a>
										<a href="#"><img src="{{ license.image }}" alt="{{ license.title }}"></a>
										<div class="bg-overlay">
											<div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
												<a href="{{ license.url }}" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
												
											</div>
											<div class="bg-overlay-bg bg-transparent"></div>
										</div>
									</div>
									<div class="product-desc center">
										<div class="product-title"><h3><a href="{{ license.url }}">{{ license.title }}</a></h3></div>
										<div class="product-price "><ins ><span style="color:#000;">Prix: {{ license.prix }} FCFA</span></ins></div>
										
									</div>
								</div>
							</div>
						{% endfor %}
						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->