---
layout: default
---

<!-- Header
============================================= -->
{%- include header.html -%}
<!-- #header end -->
<!-- Page Title ============================================= -->
<section id="page-title" class="page-title-parallax include-header " style=" padding: 120px 0; background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.1)), url('/uploads/directeurs-2.jpg'); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;">

<div class="container clearfix">
	<h1 class="text-white">PACKAGE {{ page.title }}</h1>
	<span class="text-white">Achat du package {{ page.type }} Omegapro {{ page.title }} de ${{ page.prix }}</span>
	<ol class="breadcrumb text-white">
		<li class="breadcrumb-item text-white"><a href="/">Acceuil</a></li>
		<li class="breadcrumb-item text-white active" aria-current="page">{{ page.title }}</li>
	</ol>
</div>

</section><!-- #page-title end -->

<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap" style="overflow: visible;">
				<div class="container clearfix">

					<div class="single-product">
						<div class="product">
							<div class="row gutter-40">

								<div class="col-md-6">

									<!-- Product Single - Gallery
									============================================= -->
									<div class="position-relative" data-lightbox="gallery">
										<div class="sale-flash badge bg-danger p-2">Promo!</div>
										<a class="mb-3 d-block" href="{{ page.logo }}" title="Pink Printed Dress - Front View" data-lightbox="gallery-item"><img src="{{ page.logo }}" alt="Pink Printed Dress"></a>
										<a class="mb-3 d-block" href="{{ page.logo }}" title="Pink Printed Dress - Side View" data-lightbox="gallery-item"><img src="{{ page.logo }}" alt="Pink Printed Dress"></a>
										<a class="mb-3 d-block" href="{{ page.logo }}" title="Pink Printed Dress - Back View" data-lightbox="gallery-item"><img src="{{ page.logo }}" alt="Pink Printed Dress"></a>
									</div><!-- Product Single - Gallery End -->

								</div>

								<div class="col-md-6 product-desc position-lg-sticky h-100">

									<div class="d-flex align-items-center justify-content-between">

										<!-- Product Single - Price
										============================================= -->
										<div class="product-price"><ins>Prix: {{ page.prix }} USD</ins></div><!-- Product Single - Price End -->

										<!-- Product Single - Rating
										============================================= -->
										<button type="submit" class="add-to-cart button m-0">Acheter</button>

									</div>

									<div class="line"></div>

									
									<!-- Product Single - Short Description
									============================================= -->
									<p>{{ page.description }}</p>
									<ul class="iconlist">
										{% assign gain = page.prix | times: 3 %}
										<li><i class="icon-caret-right"></i> Retour sur investissement de {{ gain }} USD au bout de 16 mois </li>
										<li><i class="icon-caret-right"></i> 7% de bonus de parrainage en vente directe</li>
										<li><i class="icon-caret-right"></i> Rembousement à tout moment</li>
									</ul><!-- Product Single - Short Description End -->

									<!-- Product Single - Meta
									============================================= -->
									<div class="card product-meta">
										<div class="card-body">
											<span class="posted_in">Categorie: <a href="#" rel="tag">{{ page.type }}</a>.</span>
										</div>
									</div><!-- Product Single - Meta End -->

								</div>

								

							</div>
						</div>
					</div>

					<div class="line"></div>

					<div class="w-100">

						<div class="heading-block center">
							<h2>Autres Packages {{ page.type }}s</h2>
							<span>Choisissez une autre package Omegapro si vous le souhaitez</span>
						</div>

						<div class="owl-carousel product-carousel carousel-widget" data-margin="30" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-md="2" data-items-lg="3" data-items-xl="4">
						{% assign licenses_by_price = site.licenses | sort: "prix" %}
						{% for license in licenses_by_price %}
							<div class="oc-item">
								<div class="product">
									<div class="product-image">
										<a href="#"><img src="{{ license.logo }}" alt="{{ license.title }}"></a>
										<a href="#"><img src="{{ license.logo }}" alt="{{ license.title }}"></a>
										<div class="bg-overlay">
											<div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
												<a href="{{ license.url }}" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
												
											</div>
											<div class="bg-overlay-bg bg-transparent"></div>
										</div>
									</div>
									<div class="product-desc center">
										<div class="product-title"><h3><a href="{{ license.url }}">{{ license.title }}</a></h3></div>
										<div class="product-price"><ins>${{ license.prix }}</ins></div>
										
									</div>
								</div>
							</div>
						{% endfor %}
						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->